body {
    font-family: Arial, sans-serif;
    background-color: #59A52c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#auth, #chat {
    background-color: #eadece;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.hidden {
    display: none;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #283a6a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #312393;
}

#rooms {
    display: flex;
    margin-bottom: 10px;
}

#roomInput {
    flex: 1;
    margin-right: 10px;
}

#messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#messages p {
    margin: 0 0 10px;
}
